.footer{
    background-color:#d7f4f4;
    color:black;
    height: 140px;
    font-family: "Aladin"; src: url(Aladin.ttf);
}

.footer-pic{
    margin: 20px 40px;
    float: left;
}

.footer-list{
    margin: 20px 40px;
    float: right;
    font-family: "Aladin";
}

.footer-list span{
    color: chocolate;    
}
